@use "sass:color";
@use "sass:map";
@use "sass:list";

$colors: (
	"white": white,
	"black": black,
	"red": #dc143c,
	"blue": #1e90ff,
	"green": #3cb371,
	"yellow": #ffc549,
	"brown": #95410c,
	"grey": #d7d7d7,
	"pink": #ff69b4,
	"purple": #8a2be2,
	"aqua": aqua,
	"orange": #fb812a,
	"warning": #ffb01f,
	"error": #ff4545,
	"success": #52e12e,
);

$colors-light: (
	"white": white,
	"black": #dbdbdb,
	"red": #fcdfe4,
	"blue": #d6ebff,
	"green": #e7fff2,
	"yellow": #fffae5,
	"brown": #fbece2,
	"grey": #f6f6f6,
	"pink": #ffe3f1,
	"purple": #eddefb,
	"aqua": #e8ffff,
	"orange": #fff1e8,
	"warning": #fff0bf,
	"error": #ffdbdb,
	"success": #acf899,
);

$colors-heavy: (
	"white": #fafafa,
	"black": #1a1a1a,
	"red": #dc143c,
	"blue": #007cf4,
	"green": #37a467,
	"yellow": #ffb820,
	"brown": #8b3a07,
	"grey": #b1b1b1,
	"pink": #ff55aa,
	"purple": #751bc9,
	"aqua": #1efdfd,
	"orange": #eb7521,
	"warning": #f0a313,
	"error": #f13636,
	"success": #4ad926,
);

$lightColors: (
	"white": true,
	"grey": true,
	"yellow": true,
	"aqua": true,
	"warning": true,
);

:root {
	--background: #fff;
	--background-1: #f1f1f1;
	--background-opacity: #ffffffa6;
	--background-opacity-1: #e9e9e999;
	--background-opacity-2: #f1f1f1a6;

	--color: #212121;
	--color-main: #444;
	--color-main-0: #f1f1f1;
	--color-main-1: #313131;
	--color-main-reverse: #fafafa;

	--color-backdrop: rgba(0, 0, 0, 0.25);
	--dim: rgba(0, 0, 0, 0.15);

	.color-main {
		color: var(--color-main);
	}
	.bg-main {
		background: var(--color-main);
		color: var(--color-main-reverse);
	}
	@for $i from 0 to 10 {
		--color-#{$i}: #{color.adjust(#000, $lightness: (10.5% * $i))};
		.color-#{$i} {
			--color: var(--color-#{$i});
			color: var(--color);
		}
		.bg-#{$i} {
			--background: var(--color-#{$i});
			background: var(--background);
			@if ($i < 5) {
				color: var(--white);
			}
		}
		.opacity-#{$i} {
			opacity: #{calc($i/10)};
		}
	}

	@each $name, $value in $colors {
		$isLightColor: map.get($lightColors, $name) != null;

		$light: map.get($colors-light, $name);
		$heavy: map.get($colors-heavy, $name);
		--#{$name}-0: #{$light};
		--#{$name}: #{$value};
		--#{$name}-1: #{$heavy};

		.bg-#{$name}-0 {
			--background: #{$light};
			--color-hover: var(--color);
			background-color: #{$light};
			color: #{$value};

			&:hover {
				--background-hover: #{$value};
			}

			&.i-btn:hover {
				background: var(--background-hover);
				color: var(--color-hover);
			}
		}

		.bg-#{$name} {
			--background: var(--#{$name});
			@if $isLightColor {
				--color: var(--black);
				--color-hover: var(--black);
			} @else {
				--color: var(--white);
				--color-hover: var(--white);
			}
			background-color: var(--background);
			color: var(--color);

			&:hover {
				--background-hover: #{$heavy};
			}

			&.i-btn:hover {
				background: var(--background-hover);
				color: var(--color-hover);
			}
		}

		.bg-#{$name}-1 {
			--background: #{$heavy};
			@if $isLightColor {
				--color: var(--black);
				--color-hover: var(--black);
			} @else {
				--color: var(--white);
				--color-hover: var(--white);
			}
			background-color: var(--background);
			color: var(--color);

			&:hover {
				--background-hover: #{$value};
			}

			&.i-btn:hover {
				background: var(--background-hover);
				color: var(--color-hover);
			}
		}

		.#{$name}-0 {
			--color: #{$light};
			--color-hover: var(--#{$name});
			color: var(--color);
		}

		.#{$name} {
			--color: var(--#{$name});
			--background-hover: var(--#{$name}-0);
			--color-hover: var(--#{$name});
			color: var(--color);
		}

		.#{$name}-1 {
			--color: #{$heavy};
			--color-hover: var(--#{$name});
			color: var(--color);
		}
	}
}

.bg-slight {
	background-color: var(--color-9);
	color: var(--black);
}
.slight {
	color: var(--color-8);
}

@mixin themeDark() {
	--background: #313131;
	--background-1: #3a3a3a;
	--background-opacity: #313131a6;
	--background-opacity-1: #313131aa;
	--background-opacity-2: #2a2a2aca;

	--color: #fff;
	--color-main: #6cc73b;
	--color-main-0: #313d2b;
	--color-main-1: #69d62f;
	--color-main-2: #53b320;
	--color-main-reverse: #212121;

	--dim: rgba(0, 0, 0, 0.25);
	--shadow: 0px 4px 12px var(--dim);

	background: var(--background);
	color: var(--color);

	@for $i from 0 to 10 {
		--color-#{$i}: #{color.adjust(#fff, $lightness: (-8.5% * $i))};
		.color-#{$i} {
			color: var(--color-#{$i});
		}
		.bg-#{$i} {
			--background: var(--color-#{$i});
			background: var(--background);
			@if ($i < 5) {
				color: var(--black);
			}
		}
	}

	.bg-slight {
		color: var(--white);
	}
	code,
	.code {
		background: var(--color-8);
	}

	--white-0: #595959;
	--black-0: #6d6d6d;
	--red-0: #4d3232;
	--yellow-0: #4b421f;
	--green-0: #114911;
	--aqua-0: #1e3d3d;
	--blue-0: #2d4467;
	--pink-0: #5d2f37;
	--brown-0: #3b2d2d;
	--orange-0: #473514;
	--purple-0: #372337;
	--grey-0: #414141;
	--warning-0: #4b3e13;
	--error-0: #533535;
	--success-0: #123b08;
}

.theme-dark {
	@include themeDark();
}

@media (prefers-color-scheme: dark) {
	.theme-auto {
		@include themeDark();
	}
}
