.i-popup {
	position: absolute;
	z-index: 100;
	opacity: 0;
	transition: all 0.12s;
	will-change: left, top, opacity, transform;
	border-radius: var(--radius);
	background: var(--background);
	box-shadow: var(--shadow);
	transform: translate(0, 2px);
}

.i-popup-arrow {
	position: absolute;
	width: 8px;
	height: 24px;
	pointer-events: none;
	color: unset;
	transition: all 0.12s;
	path {
		fill: var(--background);
	}
}
