.i-popup {
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition: all 0.12s;
    will-change: left, top, opacity, transform;
    border-radius: var(--radius);
    background: var(--background);
    filter: drop-shadow(var(--shadow));
    transform: translate(0, 2px);
}

.i-popup-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: none;
    transition: all 0.12s;
    background: var(--background);
}

.i-popup-bordered {
    border: 1px solid var(--background-opacity-2);
}
