.i-loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: inherit;
    transform: translateZ(0);
    border-radius: inherit;
    backdrop-filter: blur(2px);
}

.i-loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: var(--transition);
    pointer-events: none;
}
.i-loading-icon:before,
.i-loading-icon:after {
    content: "\20";
    margin: auto -0.25em;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    transform: scale(0);
    flex-shrink: 0;
}
.i-loading-icon:before {
    margin-left: auto;
    animation: ioca-loading 1s linear infinite;
    background-color: var(--color);
    opacity: 0.6;
}
.i-loading-icon:after {
    margin-right: auto;
    animation: ioca-loading 1s linear 0.15s infinite;
    background-color: var(--color);
}

@keyframes ioca-loading {
    50% {
        transform: scale(1);
    }
}
