.i-text-gradient {
	-webkit-text-fill-color: transparent;
}
.i-text-gradient-wave {
	background-size: 200% 100%;
	background-position: 0 0;
	animation: text-wave 1.2s linear 0s infinite;
}
@keyframes text-wave {
	100% {
		background-position: -100% 0;
	}
}
