.i-affix {
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition: var(--transition);
}

.i-affix:not(.i-affix-visible) > .i-affix-target {
    opacity: 0;
    pointer-events: none;
}
