@font-face {
	font-family: "NunitoSans_10pt";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./NunitoSans_10pt-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "NunitoSans_10pt";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./NunitoSans_10pt-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "jaini";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./Jaini-Regular.ttf");
}

html body {
	font-family: "NunitoSans_10pt";
}

.apis {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.i-drawer {
	.i-tree {
		min-width: 240px;
	}
}
