.i-editor {
    display: flex;
    flex-direction: column;
    position: relative;
    &:focus-within,
    &:hover {
        > .i-editor-controls,
        > .i-editor-content {
            border-color: var(--color-8);
        }
    }
}
.i-editor-borderless {
    border-radius: var(--radius);
    & > .i-editor-controls,
    & > .i-editor-content {
        border: none;
    }
}
.i-editor-controls {
    display: flex;
    gap: 2px;
    border: 2px solid var(--color-9);
    border-bottom: 0;
    padding: 2px;
    border-radius: var(--radius) var(--radius) 0 0;
    transition: var(--transition);
    .i-btn {
        --color: var(--color-5);
        &:hover {
            --color: var(--color);
            .i-editor-control-tip {
                opacity: 1;
            }
        }
    }
}
.i-editor-control-tip {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    padding: 4px;
    border-radius: 4px;
    line-height: 1;
    pointer-events: none;
    transition: var(--transition);
    backdrop-filter: var(--blur);
}
.i-editor-content {
    flex: 1;
    outline: none;
    padding: var(--padding);
    border: 2px solid var(--color-9);
    border-radius: 0 0 var(--radius) var(--radius);
    transition: var(--transition);
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    tab-size: 1em;
    &:first-child {
        border-radius: var(--radius);
    }
    &:hover,
    &:focus {
        border-color: var(--color-8);
    }
    a {
        color: var(--blue);
    }
    img {
        margin: 0;
    }
    &:empty:before {
        content: attr(data-placeholder);
        color: var(--color-5);
    }
}

.i-editor-memtion {
    z-index: 1000;
    margin: 4px 0 0;
    padding: 4px;
    min-width: 120px;
    max-width: 240px;
    border-radius: var(--radius);
    background: var(--background-opacity);
    box-shadow: var(--shadow);
    backdrop-filter: var(--blur);
    overflow: auto;
    .i-list-item {
        color: var(--color-5);
    }
    .i-list-item-active {
        color: var(--color-main);
    }
}

.i-memtion-tag {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    vertical-align: baseline;
    user-select: none;
}
